{% extends "base.html" %}
{% block title %}Create office{% endblock %}
{% block header %}Create office{% endblock %}
{% block content %}
<form method="post" action="/offices/create" class="row g-3" style="max-width: 640px;">
  <div class="col-12"><label class="form-label">Name</label><input class="form-control" name="name" required></div>
  <div class="col-md-6"><label class="form-label">Code</label><input class="form-control" name="code" pattern="[a-z0-9_-]+" placeholder="yerevan" required></div>
  <div class="col-md-6"><label class="form-label">Timezone</label><input class="form-control" name="timezone" value="UTC"></div>
  <div class="col-12"><label class="form-label">Subnet CIDR</label><input class="form-control" name="subnet_cidr" placeholder="192.168.10.0/24"></div>
  <div class="col-md-6"><label class="form-label">City</label><input class="form-control" name="city"></div>
  <div class="col-md-6"><label class="form-label">Address</label><input class="form-control" name="address"></div>
  <div class="col-12"><button class="btn btn-primary" type="submit">Create office</button></div>
</form>
{% endblock %}
